body{
    font-family: "plus jakarta sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

.logo-img{
  height: 50 px;
  width: 50%;
  border-radius: 25%;
}
.navbar{
    height: 80px;
    background : white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color : #222222 !important;
}

.fa-link a{
   text-decoration: none;
   color: #222222;
}

.fa-link a:hover{
    text-decoration: underline;
}

.fa-link, .fa-icon,.fa-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.fa-icon i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.fa-info{
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400;
}

.listing-link{
    text-decoration: none !important;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height: 35vh;
    width: 60vh;
    border-radius: 1rem;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}


.btns{
    display: flex;
}

.card-body{
    width: 62vh;
}

.card-img-overlay {
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease; 
}

.card-img-overlay:hover {
    opacity: 0.2; 
    background-color: white; 
}


   /* Filters */
  #filters-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
  }
  
  /* Scrollable filter row */
  #filters {
    display: flex;
    width: 970px;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    flex: 1;
    padding-bottom: 0.5rem;
  }
  
  /* Individual filter block */
  .filter {
    flex: 0 0 auto;
    width: 90px;
    text-align: center;
    scroll-snap-align: start;
    margin-top: 2rem;
    margin-right: 1rem;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
  
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .filter p {
    font-size: 0.8rem;
  }
  
  /* Scrollbar styling */
  .filter::-webkit-scrollbar {
    height: 6px;
    margin-bottom: 1rem;
  }
  
  #filters::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  #filters::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .toggle {
    margin-left: 2rem;
    white-space: nowrap;
    flex-shrink: 0;
    opacity: 0.7;
    display: flex;
    align-items: center;
  }
  
  .toggle:hover {
    opacity: 1;
  }

  @media (max-width : 350){
    .toggle{
      display: none;
    }

    #filters{
      display: block;
    }
  }
  
